:root {
	--bg-color: #000000;
	--text-color: white;
}
body {
	height: 100vh;
	width: 100vw;
	background-color: var(--bg-color);
}
section#start {
	margin-top: 10%;
	margin-bottom: 20%;
}
section#about {
	margin-bottom: 10%;
}
section {
	/*background-color: aquamarine;
	border: solid 5px peru;*/
	margin-bottom: 20%;
}
.margin-box {
	width: 100vw;
	height: 15vh;
	display: block;
}
a,
p {
	color: var(--text-color);
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}
.links {
	height: auto;
	width: 500px;
}
.link {
	margin: 2%;
	white-space: nowrap;
	font-size: 19px;
	font-weight: 400;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}
.git {
	background-color: transparent;
	border-radius: 10px;
	border: solid 2px var(--text-color);
	color: var(--text-color);
	padding: 7px;
	transition: 0.2s;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}
.git:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
	transition: 0.2s;
}
.name {
	font-size: 25px;
	font-weight: 800;
	margin: 0;
}
.large-name {
	font-size: 150px;
	font-weight: 900;
	z-index: 4;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
	opacity: 0;
	transition: 0.75s;
}
.shadow {
	color: var(--bg-color);
	text-shadow: 1px 1px 0 var(--text-color), -1px -1px 0 var(--text-color),
		1px -1px 0 var(--text-color), -1px 1px 0 var(--text-color);
	margin-top: -195px;
	opacity: 0;
	transition: 1s;
}
#shadow1 {
	z-index: 3;
}
#shadow2 {
	z-index: 2;
}
#shadow3 {
	z-index: 1;
}
.img-profile {
	background-color: white;
	height: auto;
	width: 75%;
	overflow: hidden;
	border-radius: 15px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.title {
	font-size: 45px;
	font-weight: 900;
	transform: translateY(-50px) scale(0.25);
	opacity: 0;
	transition: 0.5s;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}
@media (max-width: 800px) {
	.large-name {
		font-size: 90px;
	}
	.shadow {
		margin-top: -125px;
	}
}
.img-container {
	transform: translateX(-90%) translateY(-10%) scale(0.5);
	opacity: 0;
	transition: 0.5s;
	margin: 1%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.rezume-container {
	transform: translateX(90%) translateY(10%) scale(0.5);
	opacity: 0;
	transition: 0.5s;
	margin: 1%;
}
.about-me-stack {
	display: inline-block;
	background-color: var(--text-color);
	color: var(--bg-color);
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}
.about-me-name {
	font-size: 30px;
	font-weight: 200;
}
.about-me-text {
	font-size: 20px;
	font-weight: 100;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}
.paragraph {
	margin-bottom: 10px;
}
.skill-cards {
	margin-top: 3%;
}
.skill-card {
	height: 150px;
	width: 150px;
	border: solid 1px rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.025);
	border-radius: 25px;
	padding: 10px;
	filter: grayscale(100%);
	transition: 0.5s;
	transform: scale(0.5);
	opacity: 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.skill-card:hover {
	filter: grayscale(0%);
	transition: 0.5s;
}
.skill-img {
	height: 100%;
	width: 100%;
}
.project-card {
	width: 95%;
	height: 92.5%;
	background-color: transparent;
	border-radius: 20px;
	padding: 10px;
	transition: 0.2s;
	margin: 15px 2.5%;
	border: solid 1px rgba(255, 255, 255, 0.05);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	transition: 0.5s;
	transform: scale(0.5);
	opacity: 0;
}
.project-card:hover {
	background-color: rgba(255, 255, 255, 0.025);
	border: solid 1px rgba(255, 255, 255, 0.1);
	transform: scale(1.01);
}
.preview {
	width: 100%;
	height: auto;
	margin-right: 20px;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.project-name {
	font-size: 16px;
	font-weight: 600;
	margin: 1% 0;
}
.project-description {
	font-size: 12px;
	font-weight: 100;
	margin: 1% 0;
}
.publish-date {
	font-size: 10px;
	font-weight: 300;
	margin: 1% 0;
	opacity: 0.5;
}
