:root {
	--bg-color: #000000;
	--text-color: white;
}
body {
	height: 100vh;
	width: 100vw;
	background-color: var(--bg-color);
}
section#start {
	margin-top: 10%;
	margin-bottom: 20%;
}

a,
p {
	color: var(--text-color);
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}
.links {
	height: auto;
	width: 500px;
}
.link {
	margin: 2%;
	white-space: nowrap;
	font-size: 19px;
	font-weight: 400;
}
.git {
	background-color: transparent;
	border-radius: 10px;
	border: solid 2px var(--text-color);
	color: var(--text-color);
	padding: 7px;
	transition: 0.2s;
}
.git:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
	transition: 0.2s;
}
.name {
	font-size: 25px;
	font-weight: 800;
}
.large-name {
	font-size: 150px;
	font-weight: 900;
	z-index: 4;
	position: relative;
	animation: fadeIn 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}
.shadow {
	color: var(--bg-color);
	text-shadow: 1px 1px 0 var(--text-color), -1px -1px 0 var(--text-color),
		1px -1px 0 var(--text-color), -1px 1px 0 var(--text-color);
	margin-top: -195px;
}
#shadow1 {
	opacity: 0.75;
	z-index: 3;
	animation: fadeIn 2s;
}
#shadow2 {
	opacity: 0.5;
	z-index: 2;
	animation: fadeIn 3s;
}
#shadow3 {
	opacity: 0.25;
	z-index: 1;
	animation: fadeIn 4s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
}
.img-profile {
	background-color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 15px;
}

.title {
	font-size: 45px;
	font-weight: 900;
	transform: scale(0.25);
	opacity: 0;
	transition: 0.5s ease-in-out;
}
@media (max-width: 800px) {
	.large-name {
		font-size: 90px;
	}
	.shadow {
		margin-top: -125px;
	}
}
